body{
    font-family: 'Oswald', sans-serif;
}

/***NAVBAR***/

.nav-item{
    letter-spacing: .2em;
    font-size: 14px;
    text-transform:uppercase;
}


.dropdown-item{
    letter-spacing: .2em;
    font-size: 14px;
    text-transform:uppercase;
}


/***FOOTER***/


.my_footer{
    background-color:#f8f9fa;
    height:60px;

}
.my_footer p{
    padding-top:20px;
    font-size:14px;
}


/*** category page ***/

.my_row_class{
    padding-top:15px;
}

.my_row_class .mx-auto p a{
    color:#000;
    font-size:12px;
    text-decoration:none;
}

.my_image{
    width:100%;
    height:auto;
}

.my_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
}
.image_padding{
    padding-top:5px;
}

.my_bottom_margin{
    margin-bottom:10px;

}
.card-body{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:.2em;
}

/***product page***/

.my_prod_row_class{
    padding-top:15px;
    padding:bottom:20px;

}

.my_prod_row_class .mx-auto p{
    color:#000;
    font-size:12px;
}

.my_prod_row_class .mx-auto p a
{
    color:#000;
    font-size:12px;
    text-declaration:none;
}

.my_prod_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;

}

.my_custom_table{
    min-width:400px;
    font-size:14px;

}

.my_custom_thead{
    width:100px;
    height:100px;
}
.custom_a{
    text-decoration:None;
}
.custom_image{
    width:100px;
    height:100px;
}
.custom_icon{
    text-decoration:None;
    color:#868e96 !important
}
.my_custom_button{
    margin-top:5px
}

