{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        welcome to shopemore
{% endblock %}
{% block tittle %}
    Cart-shop shopmore
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
<div class="text-center">
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input class="btn btn-success" type="submit" value="login"><br>

</form>
</div>
</head>
<body>

</body>
</html>
{% endblock %}